@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Manrope !important;
}

.custom-button{
    padding: 10px 30px;
    border: 1px solid #15191e;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    color: #15191e;

}
.custom-button:hover{
    color: #ddd;
    background-color: #15191e;
    transition: 0.3s ease-in-out;
}
.custom-todo{
    border: 1px solid #00b3f0;
    padding:10px 20px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h1{
        color: #491eff;
        font-weight: bold;
        font-size: 32px;
        border-radius: 10px;

    }
    input{
        border: 1px solid #00b3f0;
        border-radius: 5px;
        padding: 10px 20px;

    }
    button{
        background: #00b3f0;
        color: #fff;
        transition: 0.2s ease-in;
        padding: 10px 20px;
        border-radius: 5px;


    }
    button:hover{
        background: #ffffff;
        border: 1px solid #00b3f0;
        color: #00b3f0;
        transition: 0.2s ease-out;
    }
    .delete-button{
        background: #ffffff;
        color: #fff;
        transition: 0.2s ease-in;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #00b3f0;
    }
    .delete-button:hover{
        background: #00b3f0;
        color: #fff;
        transition: 0.2s ease-in;
    }

}
.show-Todo{
    border-top: 2px solid #ff6f70;
    width: 100%;
    padding-top:20px;

    ul{
        li{
            display: grid;
            grid-template-columns:0.1fr 0.2fr 2fr 0.3fr ;

            button{
                display: flex;
                justify-content: center;
                align-items: center;
                img{

                }
            }

        }
    }

}